body{
  color: #40514E;
  margin: 0;
  text-align: center;

  font-family:"Merriweather",serif;

}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  font-family:"Sacramento",cursive;
  margin: 50 auto 0 auto;
/*  line-height: 2;*/

}
h2{
    color: #66BFBF;
  font-family:"Montserrat",sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}
h3{
  color:#11999E;
  font-family:"Montserrat",sans-serif;

}
p{
  line-height: 2;
}
.edu{
  width: 40%;
  margin: 50px auto;
}
.skill-row{

  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}


.top-container{
  background-color: #AAC4FF;
  position: relative;
  padding-top: 100px;

}
.middle-container{
background-color: white;
margin: 100px 0 50px 0;
}
.bottom-container{
  background-color: #D2DAFF;
  padding:  50px 0 20px;
}
a{
  margin: 0 10px 0 10px;
  text-decoration: none;
}
a:hover{
  color: #628E90;
}

.linecolor{
  margin: 0;

}

hr{

  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto 50px auto;

}

.copyright{
  padding: 20px;
  font-size: 0.75rem;
  color: white;
}


.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.sts1{
  border-radius: 100%;
}

.sts2{

  background-color: black;
  float: left;
  height: 10.5rem;
  margin-bottom: 50px;
  margin-right: 30px;

  width: 10.3rem;

}
.sts3{

  background-color: black;
  float: right;
  height: 10.2rem;
  margin-left: 30px;

  width: 10.2rem;



}
/*
.code-skill-description1{

    clear:left;


}
.code-skill-description2{
  clear:right;
}*/
.footer-link{
  color: #11999E;
}

.forbtnspace{
  margin-bottom: 50px;
}

.btn {

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family:"Montserrat",sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}












.pro{
/*  color: blue;
  background-color: yellow;
  */
  text-decoration: underline;
}


























/*--------------------------inline elements------------------------*/
/*
Spans (<span>)
images(<img>)
anchors(<a>)



*/
/*--------------------------practice------------------------*/
/*
body{
  margin: 0px;
}
.div1{
height: 200px;
width: 200px;
margin: 0px;
background-color:  #B4CDE6;
border: solid 10px;
padding: 20px;

}
.div2{
  height: 200px;
  width:200px;
  background-color: red;
  margin-top: 0px;
  margin-left: 260px;
  margin-bottom: 0px;
  border: solid 20px;


}
.div3{
  height: 200px;
  width:200px;
  background-color: yellow;
  margin-top: 0px;
  margin-left: 500px;
  margin-bottom: 0px;
  border: solid 10px;

}*/
